﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Layout.cshtml";
}

@section styles{

}



<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">

            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dayPoint">Day Point</label>
                                <select class="form-control" id="dayPoint" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="point">point</label>
                                <select class="form-control" id="point" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="point">point</label>
                                <select class="form-control" id="point" required>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="title">Title of Day</label>
                            <textarea class="form-control" rows="1" id="title" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="description">Summary</label>
                            <textarea class="form-control" rows="3" id="description" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yourself">What made for yourself are you?</label>
                                <div class="input-group mb-3" id="yourself">
                                    <input type="text" class="form-control" required>
                                    <div class="input-group-append">
                                        <select class="form-control" required>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <button class="btn btn-warning form-control add-row" type="reset" data-element="yourself">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="otherself">What made for otherselves are you?</label>
                                <div class="input-group" id="otherself">
                                    <input type="text" class="form-control" required>
                                    <div class="input-group-append">
                                        <select class="form-control" required>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <button class="btn btn-warning form-control add-row" type="reset" data-element="otherself">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lose">Loses</label>
                                <div class="input-group" id="lose">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <button class="btn btn-warning form-control add-row" type="reset" data-element="lose">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emotion">Emotion</label>
                                <div class="input-group" id="emotion">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <div class="input-group-append">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-success" id="insert">Insert</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="newRow">
    <div class="input-group pt-3">
        <input type="text" class="form-control" required>
        <div class="input-group-append">
            <select class="form-control" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button class="btn btn-warning form-control remove-row" type="reset">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</script>

@section scripts{
    <script>

        var elements = {
            submitButton: $('#insert'),
            title: $('#title'),
            description: $('#description'),
            dayPoint: $('#dayPoint'),
            ownPoint: $('#ownPoint'),
            otherPoint: $('#otherPoint'),
            forYourself: $('#yourself'),
            forOtherself: $('#otherself'),
            loses: $('#loses'),
            emotion: $('#emotion'),
            newRow: $('#newRow')
        }

        $(function () {

            elements.submitButton.on('click', function (e) {

                var formValid = true;

                $.each($('form'), function (i, v) {
                    if (!$(v).valid())
                        formValid = false;
                });

                if (formValid) {

                    var model = {
                        Summary: elements.description.val(),
                        Title: elements.title.val(),
                        DayPoint: elements.dayPoint.val(),
                        OwnPoint: elements.ownPoint.val(),
                        OthersPoint: elements.otherPoint.val(),
                        EmotionId: elements.emotion.find('select').eq(0).val(),
                        EmotionForce: elements.emotion.find('select').eq(1).val(),
                        Yourself: [],
                        Otherselves: [],
                        Loses: [],
                    };

                    model.Yourself.push({
                        ActionId: 1,
                        Force: 1,
                        Description: ''
                    });

                    var yourselfData = elements.forYourself.parent().find('.input-group');

                    $.each(yourselfData, function (i, v) {

                        if ($(v).find('input').val() != '') {
                            model.Yourself.push({
                                ActionId: 1,
                                Force: $(v).find('select').val(),
                                Description: $(v).find('input').val(),
                            });
                        }

                    });

                    var otherselfData = elements.forOtherself.parent().find('.input-group');

                    $.each(otherselfData, function (i, v) {

                        if ($(v).find('input').val() != '') {

                            model.Otherselves.push({
                                ActionId: 1,
                                Force: $(v).find('select').val(),
                                Description: $(v).find('input').val(),
                            });
                        }

                    });


                    var losesData = elements.loses.parent().find('.input-group');

                    $.each(losesData, function (i, v) {

                        if ($(v).find('input').val() != '') {

                            model.Loses.push({
                                ActionId: 1,
                                Force: $(v).find('select').val(),
                                Description: $(v).find('input').val(),
                            });
                        }

                    });


                    $.ajax({
                        url: '/Home/InsertSummary',
                        method: 'POST',
                        data: model,
                        success: function (response) {
                            alert('success');
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })

                }

            });


            $(document).on('click', '.add-row', function (e) {

                var template = elements.newRow.html();

                var section = $(this).data('element');

                $('#' + section + '').parent().append(template);

            });

            $(document).on('click', '.remove-row', function (e) {

                var mainDiv = $(this).parents('.input-group');

                mainDiv.remove();
            });

        });
    </script>
}