﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0" style="text-transform:unset !important">
            MUHAMMET AKİL
            <span class="text-primary">BOZKAYA</span>
        </h1>
        <div class="subheading mb-5">
            Software Developer Sakarya/Turkey
            @*<a href="mailto:name@email.com">name@email.com</a>*@
        </div>
        <p class="lead mb-5"> Hello there, I`m Muhammet, i`m living currently Sakarya and working at TRA Bilişim as junior fullstack software developer.
        </p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/muhammet-bozkaya/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/mbozkaya" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://gitlab.com/muhammetbozkaya" target="_blank">
                <i class="fab fa-gitlab"></i>
            </a>
            <a href="https://twitter.com/mb0zkaya" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/muhammetbozkaya20" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</section>
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">TRA Bilisim</div>
                <p> Tra bilisim is a sub group corporate of Tera Yatirim Group Corporate. I joined to tra team in January 2018 throught as intern. Then i have graduated my school and began to work with them as jr. </p>
                <p>-Backend development with .Net MVC/.Net Core/Node.js </p>
                <p>-Frontend development with jquery</p>
                <p>-Real time live web applications(websocket technologies)</p>

            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">January 2018 - Now</span>
            </div>
        </div>
    </div>
</section>
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Firat University</h3>
                <div class="subheading mb-3">Software Engineer</div>
                <div>Computer Science - Web Development Track</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2012 - May 2018</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Nalan Kaynak HighSchool </h3>
                <div class="subheading mb-3">Bachelor of Numerical - Denizli</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2009 - June 2012</span>
            </div>
        </div>
    </div>
</section>
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item" title="Html-5">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item" title="CSS-3">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item" title=".Net MVC/ .NET Core">
                .NET
            </li>
            @*<li class="list-inline-item">
            <i class="fab fa-js-square"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-angular"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-react"></i>
        </li>*@
            <li class="list-inline-item" title="node.js">
                <i class="fab fa-js"></i>
            </li>
            @*<li class="list-inline-item">
            <i class="fab fa-sass"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-less"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
        </li>*@
            <li class="list-inline-item" title="T-SQL/No-SQL">
                SQL
            </li>
            <li class="list-inline-item">
                <i class="fab fa-git"></i>
            </li>
            @*<li class="list-inline-item">
            <i class="fab fa-grunt"></i>
        </li>*@
            @*<li class="list-inline-item">
            <i class="fab fa-npm"></i>
        </li>*@
        </ul>
        @*<div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing &amp; Debugging
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum
            </li>
        </ul>*@
    </div>
</section>
@*<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
    </div>
</section>*@
@*<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
    <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Google Analytics Certified Developer
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Mobile Web Specialist - Google Certification
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - University of Colorado Boulder - Emerging Tech Competition 2009
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                2<sup>nd</sup>
                Place - University of Colorado Boulder - Emerging Tech Competition 2008
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - James Buchanan High School - Hackathon 2006
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                3<sup>rd</sup>
                Place - James Buchanan High School - Hackathon 2005
            </li>
        </ul>
    </div>
</section>*@

