﻿@model Journal.Models.ViewModel.JournalViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Layout.cshtml";
}

@section styles{
    <style>
    .inner-select{
        width:80px;
    }

    </style>
}



    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">

                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DayPoints)
                                    @Html.DropDownListFor(model => model.DayPoints, Model.DayPoints, new { @class = "form-control", @id = "dayPoint" })
                                    @Html.ValidationMessageFor(model => model.DayPoints)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OwnPoints)
                                    @Html.DropDownListFor(model => model.OwnPoints, Model.OwnPoints, new { @class = "form-control", @id = "ownPoint" })
                                    @Html.ValidationMessageFor(model => model.OwnPoints)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OthersPoint)
                                    @Html.DropDownListFor(model => model.OthersPoint, Model.OthersPoint, new { @class = "form-control", @id = "otherPoint" })
                                    @Html.ValidationMessageFor(model => model.OthersPoint)
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title)
                                @Html.TextAreaFor(model => model.Title, new { @class = "form-control", @id = "title", @required = "required", @rows = "1" })
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Summary)
                                @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", @id = "description", @required = "required", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.Summary)
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ForYourself)
                                    <div class="input-group mb-3" id="yourself">
                                        @Html.TextBoxFor(model => model.ForYourself, new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.ForYourself)
                                        <div class="input-group-append">
                                            @Html.DropDownListFor(model => model.YourselfForce, Model.YourselfForce, new { @class = "form-control inner-select", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.YourselfForce)
                                            <button class="btn btn-warning form-control add-row" type="reset" data-element="yourself">
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ForOtherself)
                                    <div class="input-group" id="otherself">
                                        @Html.TextBoxFor(model => model.ForOtherself, new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.ForOtherself)
                                        <div class="input-group-append">
                                            @Html.DropDownListFor(model => model.OtherselfForce, Model.OtherselfForce, new { @class = "form-control inner-select", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.OtherselfForce)
                                            <button class="btn btn-warning form-control add-row" type="reset" data-element="otherself">
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Lose)
                                    <div class="input-group" id="lose">
                                        @Html.TextBoxFor(model => model.Lose, new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Lose)
                                        <div class="input-group-append">
                                            @Html.DropDownListFor(model => model.LoseForce, Model.LoseForce, new { @class = "form-control inner-select", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.LoseForce)
                                            <button class="btn btn-warning form-control add-row" type="reset" data-element="lose">
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Emotion)
                                    <div class="input-group" id="emotion">
                                        @Html.DropDownListFor(model => model.Emotion, Model.Emotion, new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Emotion)
                                        <div class="input-group-append">
                                            @Html.DropDownListFor(model => model.EmotionForce, Model.EmotionForce, new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.EmotionForce)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-success" id="insert">Insert</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script type="text/template" id="newRow">
    <div class="input-group pt-3">
        <input type="text" class="form-control" required>
        <div class="input-group-append">
            <select class="form-control inner-select" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button class="btn btn-warning form-control remove-row" type="reset">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</script>

@section scripts{
    <script>

        var elements = {
            submitButton: $('#insert'),
            title: $('#title'),
            description: $('#description'),
            dayPoint: $('#dayPoint'),
            ownPoint: $('#ownPoint'),
            otherPoint: $('#otherPoint'),
            forYourself: $('#yourself'),
            forOtherself: $('#otherself'),
            loses: $('#loses'),
            emotion: $('#emotion'),
            newRow: $('#newRow')
        }

        $(function () {

            elements.submitButton.on('click', function (e) {

                var formValid = true;

                $.each($('form'), function (i, v) {
                    if (!$(v).valid())
                        formValid = false;
                });

                //if (formValid) {

                    var model = {
                        Summary: elements.description.val(),
                        Title: elements.title.val(),
                        DayPoint: elements.dayPoint.val(),
                        OwnPoint: elements.ownPoint.val(),
                        OthersPoint: elements.otherPoint.val(),
                        EmotionId: elements.emotion.find('select').eq(0).val(),
                        EmotionForce: elements.emotion.find('select').eq(1).val(),
                        Yourself: [],
                        Otherselves: [],
                        Loses: [],
                    };

                    model.Yourself.push({
                        ActionId: 1,
                        Force: 1,
                        Description: ''
                    });

                    var yourselfData = elements.forYourself.parent().find('.input-group');

                    $.each(yourselfData, function (i, v) {

                        if ($(v).find('input').val() != '') {
                            model.Yourself.push({
                                ActionId: 1,
                                Force: $(v).find('select').val(),
                                Description: $(v).find('input').val(),
                            });
                        }

                    });

                    var otherselfData = elements.forOtherself.parent().find('.input-group');

                    $.each(otherselfData, function (i, v) {

                        if ($(v).find('input').val() != '') {

                            model.Otherselves.push({
                                ActionId: 1,
                                Force: $(v).find('select').val(),
                                Description: $(v).find('input').val(),
                            });
                        }

                    });


                    var losesData = elements.loses.parent().find('.input-group');

                    $.each(losesData, function (i, v) {

                        if ($(v).find('input').val() != '') {

                            model.Loses.push({
                                ActionId: 1,
                                Force: $(v).find('select').val(),
                                Description: $(v).find('input').val(),
                            });
                        }

                    });


                    $.ajax({
                        url: '/Diary/InsertSummary',
                        method: 'POST',
                        data: model,
                        success: function (response) {
                            alert('success');
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })

                //}

            });


            $(document).on('click', '.add-row', function (e) {

                var template = elements.newRow.html();

                var section = $(this).data('element');

                $('#' + section + '').parent().append(template);

            });

            $(document).on('click', '.remove-row', function (e) {

                var mainDiv = $(this).parents('.input-group');

                mainDiv.remove();
            });

        });
    </script>
}