﻿
@{
    ViewBag.Title = "GetDate";
    Layout = "~/Views/Layout.cshtml";
}

@section styles{
    <style>
        .button-div {
            padding-top: 35px;
        }
    </style>
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" id="date" class="form-control datepicker" />
                </div>
            </div>
            <div class="col-md-2 button-div">
                <button id="getButton" type="button" class="btn btn-success btn-sm align-middle">Get</button>
            </div>
        </div>
    </div>
</div>

<div class="invisible">
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <span for="day">How did do day?</span>
                        <input id="day" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span for="own">How was i?</span>
                        <input id="own" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span for="others">How were others?</span>
                        <input id="others" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span for="emotion">How was my emotion state?</span>
                        <input id="emotion" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <span for="summary">Summary of Day</span>
                        <textarea class="form-control" rows="3" id="summary"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="yourself">
        <div class="card-header">
            What made for yourself are you?
        </div>
        <div class="card-body"></div>
    </div>
    <div class="card" id="otherself">
        <div class="card-header">
            What made for otherselves are you?
        </div>
        <div class="card-body"></div>
    </div>
    <div class="card" id="Loses">
        <div class="card-header">
            Loses
        </div>
        <div class="card-body"></div>
    </div>
</div>

<script type="text/template" id="actionsTemplate">
    <form>
        <div class="form-row">
            <div class="col-md-7">
                <input type="text" class="form-control" value="{{desc}}">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" value="{{force}}">
            </div>
        </div>
    </form>
</script>

@section scripts{
    <script>

        var page = {
            elements: {
                getButton: $('#getButton'),
                date: $('#date'),
                invisibleCard: $('.invisible').eq(0),
                howDidDoDay: $('#day'),
                howWasI: $('#own'),
                howWereOthers: $('#others'),
                emotion: $('#emotion'),
                summary: $('#summary'),
                title: $('#title'),
                yourselfAction: $('#yourself'),
                otherselfAction: $('#otherself'),
                losesAction: $('#loses'),
                template: $('#template'),
            },
            func: {
                getTemplate: function (data) {

                    if (data.length == 0) {

                        return '<span>There is no action for ' + page.static.actionType[actionType] + ' </span>';
                    }

                    $.each(data, function (i, v) {

                        var template = page.elements.template.html();

                        page.static.actionElement[v.ActionId].append(template.replace('{{desc}}', v.description).replace('{{force}}', page.static.forceType[v.force]));

                    });

                }
            },
            static: {
                actionType: {
                    1: ''
                },
                forceType: {
                    1: [(''), ( '')],
                    2: [('')],
                },
                actionElement: {
                    1: function () {
                        return page.elements.yourselfAction;
                    },
                    2: function () {
                        return page.elements.otherselfAction;
                    },
                    3: function () {
                        return page.elements.losesAction;
                    },
                }
            }
        }

        $(function () {
            $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });

            page.elements.getButton.on('click', function (e) {

                if (page.elements.date.val() == '' || typeof page.elements.date == undefined) {

                    alert('select any date');

                    return;
                }

                $.ajax({
                    url: '/Home/GetSummary',
                    method: 'POST',
                    data: { date: page.elements.date.val() },
                    success: function (response) {

                        if (response.data == null || response.data.Id == 0) {

                            alert('There is no data for the date');

                            return;
                        }

                        page.func.getTemplate(response.data.Actions);
                    },
                    error: function (error) {

                    }
                });

            });
        });
    </script>
}